label {
  color: var(--primary-grey);
  font-size: 16px;
}

input {
  width: 100%;
  border: 1px solid var(--border-col);
  border-radius: 6px;
  padding: 8px 14px;
  font-size: 16px;
}

:host(.warning-input) input {
  background-color: var(--warning-background);
  border-color: var(--warning-border);
}
