/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --primary-dark: #30313A;
  --primary-grey: #686974;
  --border-col: #E1E1E1;
  --warning-text: #E59D40;
  --warning-border: #E39735;
  --warning-background: #FDF7EB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
